{% extends 'base.html.twig' %}

{% block title %}Hello MealController!{% endblock %}

{% block body %}
<div class="container">
    <h4>Create meal</h4>
    {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-primary">Create</button>
    {{ form_end(form) }}
</div>
{% endblock %}
