{% extends 'base.html.twig' %}

{% block title %}Hello MealController!{% endblock %}

{% block body %}
<div class="container">
    <div class="section-left d-flex flex-column">
        <h3 class="d-flex justify-content-center mb-4">{{ meal.name }}</h3></br>
        <div class="d-flex justify-content-center">
            <img src="{{ meal.image }}" alt="{{ meal.name }}" width="400">
        </div>
    </divW
</div>
{% endblock %}
